body    {
    font-family: 'Quicksand', sans-serif;
}

h1  {
    font-size: 60px;
    color: #532900;
    margin-bottom: 10%;
    
}

.answers    {
    font-size: 20px;
}

#Timer  {
    font-size: 24px;
    font-family: 'Overpass Mono', monospace;
}

