body    {
    font-family: 'Quicksand', sans-serif;
    background-color: #f9eccf;
}

h1  {
    font-size: 60px;
    color: #f9eccf;
    background-color: #532900;
    margin-bottom: 10%;
    border: solid 2px #532900;
    padding: 4px;
    
}

h3  {
    font-weight: bold;
}
.answers    {
    font-size: 20px;
}

#Timer  {
    font-size: 24px;
    font-family: 'Overpass Mono', monospace;
}

.btn:hover {
    color: #f9eccf;
    font-weight: 700;
    background-color: #532900;
  }

  #question {
      font-size: 26px;
  }

   /* begin emoji rain */
  #rain {
    left: 0px;
    top: -100px;
    height: calc(100vh + 100px);
    overflow: hidden;
    position: relative;
  }
  
  #animate{
    margin: 0 auto;
    width: 20px;
    overflow: visible;
    position: relative;
  }
  
  #all{
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: fixed;
  }
/* end emoji rain */

  .box  {
      background-color: white;
  }

  #start    {
      color: #532900;
      background-color: #d8633e;
      font-size: 26px;
      font-weight: bold;
  }

  #start:hover{
    color: #d8633e;
    background-color:#532900;

  }
  footer  {
    background-color: #532900;
    /* border-top: 8px solid #222; */
    padding: 25px 0;
    clear: both;
    font-size: 14px;
    position: sticky;
}

#foot   {
    color: #d8633e;
}
